-
    const benefitsData = [
        {
            icon: "energy-efficiency.svg",
            title: "Энергоэффективность",
            desc: "Позволяет экономить на отоплении дома до 25% по сравнению с таким же кирпичным строением"
        },
        {
            icon: "saving-time-and-money.svg",
            title: "Экономия времени и денег",
            desc: "Сроки работ и количество раствора уменьшаются в среднем на 30% за счет большого объема одного блока"
        },
        {
            icon: "shield.svg",
            title: "Прочность",
            desc: "Обладает высокой огнеупорностью, морозоустойчивостью и может применятся для постройки несущих стен до 5 этажей"
        },
        {
            icon: "mute.svg",
            title: "Звукоизоляция",
            desc: "Теплая керамика имеет отличные звукоизоляционные качества благодаря поризованной структуре"
        }
    ]