- 
    const whyBuyFromUsData = [
        {
            title: "У нас дешевле",
            desc: "Посредники покупают товар у производителей подешевле, а продают его дороже, поэтому дешевле покупать у производителя"
        },
        {
            title: "Доставка",
            desc: "Мы доставляем кирпичи во все регионы Украины в течении 5 дней"
        }
    ]